torch==2.0.1
torchvision==0.15.2
transformers==4.37.2
bitsandbytes
git+https://github.com/huggingface/accelerate.git
datasets==2.4.0
evaluate==0.2.2
comet-ml
seaborn
pandas
numpy
matplotlib
scipy
scikit-learn
ipython
jupyter
jsonlines
attrs
numpy
tqdm
tiktoken
ai2-olmo
factscore
wikipedia